#LOGO{ 
    display:inline-block;
    padding: none;
    width: 350px; 
    margin-top: 3%;
    align-items: center;
    margin-bottom: 2%; 
    position: relative;
    animation: flash, pulse; 
    animation-duration: 0.6s;
    animation-iteration-count: infinite; 
    animation-timing-function:ease-out;
 }