#LOGOP{
    display: inline-block; 
    background-color: #310311 solid;
    padding: none;
    margin-top: 2%;
    width: 400px; 
    right: auto;
    position: relative;
    margin-left: 35%;
    align-items:center;
}
.findepagina{
    color: gray;
    text-align: center;
    font-family: sans-serif;
    width: 100%;    
}