#Menu{
    display:flex;
    height: 50px;
    width: 100%;
    background-color: #00BA7B;
    font-family: sans-serif;  
    animation: pulse;
    animation-duration: 2s;

      a{
        flex-direction: row-reverse;
        font-size: 15px;
        padding: 5px 0;
        text-decoration: none;
        text-transform: uppercase;
        font-weight:bold;          

          &:hover{
                  transform: scaleX(1);
                  transform-origin: center;
                 }
        }
}
            