.titulos{
    text-align: center;
    margin-top:2%;
    text-decoration:none;
    color:#0ED352;
    margin-bottom: 10px;
    font-size: 45px;
    font-family: sans-serif;
    text-shadow: 3px 6px 10px solid;
    animation:fadeIn;
    animation-duration: 6s;
}
.textos{
    color: gray;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
}