$Colors: (
  $back:  #7a0027d8,
  $border: #000000 solid,
);
@mixin Card{
    display: flex;
    width: 100%;
    background-color: $back map-get($Colors: $back );
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 10px;
    border:$border map-get($Colors:  $border );
    box-shadow: 5px 10px 15px #110000;
    font-family: sans-serif;
}
#seguidores{
    width: 350px;
    background-color:#00BA7B;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: auto;
    margin-top: 25px;
    border-radius: 8px ;
    font-family: sans-serif;
    font-variant:unset;
    animation:fadeIn;
    animation-duration: 6s;        
}
.Buton{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 4px;
    border-radius: 5px;
    font-family: sans-serif;
    background-color: #680222c7;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 18px #000000;
}
.Buton:hover{
 background-color: rgba(105, 0, 0, 0.795);
}
#relleno{
animation: jackInTheBox;
animation-duration: 2s; 
}
.control{
    @include Card();

}